.character {
  text-align: center;
  margin-bottom: 120px;
}

.character__image {
  max-width: 90%;
  border: 10px solid #fff;
}

.character__name {
  color: #fff;
}

.character__description {
  display: inline-block;
  color: #fff;
  max-width: 700px;
  padding: 0 10px;
}

.character__urls-list {
  list-style: none;
  display: block;
  padding-bottom: 20px;
}

.link {
  color: #fff;
}
