.character {
  text-align: center;
}

.caracter__image {
  max-width: 90%;
  border: 10px solid #fff;
}

.caracter__name {
  color: #fff;
}

.caracter__description {
  display: inline-block;
  color: #fff;
  max-width: 700px;
}