body {
  background: #cb2d3e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  height: 100%;
  text-align: center;
}

.scrolling-line {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.title {
  color: #fff;
  font-size: 36pt;
  font-weight: 600;
}